/* ------------- BASIC  STYLE  ---------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,600;1,800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}
.background {
  background-color: #f6f9fc;
  padding: 50px 0;
}
img {
  width: 100%;
  height: 100%;
}
.container {
  max-width: 90%;
  margin: auto;
  overflow: hidden;
}

.center_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d_flex {
  display: flex;
  justify-content: space-between;
}
.c_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f_flex {
  display: flex;
}

li {
  list-style: none;
}
.uupercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.RText {
  text-align: right;
}

*:focus {
  outline: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
input,
button {
  border: none;
  background-color: none;
}

/* ------------- BASIC  STYLE ---------------- */

.row {
  width: 50%;
}
.icon-circle {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #f3f5f9;
  margin-left: 10px;
  text-align: center;
  border-radius: 50%;
}

/*---------category----------*/
.contentWidth {
  width: 77%;
}
.category {
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
  background-color: #fff;
  width: 23%;
  height: 510px;
  padding: 15px 0;
  border-radius: 5px;
  margin-top: 5px;
  & img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    object-fit: contain;
  }
  & span {
    margin: 10px 20px;
    text-transform: capitalize;
  }
  & .box {
    transition: 0.3s;
    padding: 0 20px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    &:hover {
      background-color: #ffe1e6;
      cursor: pointer;
    }
  }
}
/*---------category----------*/
.btn-primary {
  background: #e94560;
  padding: 13px 40px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
}
.top {
  margin-top: 80px;
}

/* ================= Flash Cards ======================= */

.mtop {
  margin-top: 40px;
}
.heading i {
  color: #e94560;
  margin: 10px;
}
.discount {
  position: absolute;
  top: 0;
  left: 0;
  background: #e94560;
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 50px;
  color: #fff;
  margin: 10px;
}

.product {
  background: #fff;
  border-radius: 8px;
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
  padding: 20px;
  margin: 10px;
  position: relative;
}
.product h3 {
  font-weight: 400;
  font-size: 17px;
}
.product .rate i {
  font-size: 15px;
  color: #ffcd4e;
  margin: 5px 5px 5px 0;
}
.product .price {
  display: flex;
  justify-content: space-between;
  color: #e94560;
}
.price button,
.removeCart button {
  font-size: 20px;
  transition: 0.5s;
  border: 1px solid rgb(3 0 71 / 9%);
  width: 35px;
  height: 35px;
  border-radius: 5px;
}
.price button {
  background: none;
  color: #e94560;
}
.price button:hover {
  cursor: pointer;
  background-color: #e94560;
  color: #fff;
}
.removeCart button {
  background: #195296;
  color: white;
  &:hover {
    cursor: pointer;
    background-color: #0f3460;
  }
}

.product-like {
  position: absolute;
  top: 7px;
  right: 0;
  margin: 10px;
  opacity: 0;
  transition: 0.5s;
}
.product:hover .product-like,
.product-like.is-favourite {
  opacity: 1; /* Visible on hover or if it's a favourite */
}

/* =========== Button Flash Cards ============ */

.control-btn .next,
.control-btn .prev {
  position: absolute;
  top: 40%;
  width: 50px;
  height: 50px;
  line-height: 60px;
  background: #0f3460;
  border-radius: 50%;
  transform: 0.5s;
  z-index: 5;
}
.control-btn .prev {
  left: 0px;
}
.control-btn .next {
  right: 0;
}
.control-btn .prev i,
.control-btn .next i {
  font-size: 20px;
  transition: 0.5s;
  color: #fff;
}
.control-btn .prev:hover,
.control-btn .next:hover {
  background: #e94560;
  color: white;
  cursor: pointer;
}
/* =========== Button Flash Cards ============ */

/* ================= Flash Cards ======================= */

/*--------------- heading -------------*/

.heading .heading-left i {
  font-size: 30px;
}
.heading .heading-left h2 {
  font-size: 25px;
  margin: 5px;
}
.heading .heading-right i,
.heading .heading-right {
  text-align: right;
  color: grey;
}
/*----- heading -------*/

/* =========== Media Query ============ */
.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 30px;
}
.grid-SSm {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
@media (max-width: 992px) {
  .head {
    display: none;
  }
  .grid-Md {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
}
@media only screen and (max-width: 992px) {
  .grid-Sm {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    grid-gap: 20px !important;
  }
}

/* Announcement media query only */

@media only screen and (max-width: 768px) {
  .annocument .container {
    display: block;
    & .img {
      width: 100% !important;
    }
  }
}

/* media query for home page and category */
@media (max-width: 992px) {
  .category {
    width: 10%;
    & .box span {
      display: none;
    }
  }
}
@media (max-width: 768px) {
  .home .category {
    display: none;
  }
  .home .container {
    flex-direction: column;
  }
  .home .contentWidth {
    width: 100%;
  }
}
